@page
@using Microsoft.Extensions.Localization
@using EasyAbp.PaymentService.Prepayment.Localization
@model EasyAbp.PaymentService.Prepayment.Web.Pages.PaymentService.Prepayment.IndexModel
@inject IStringLocalizer<PrepaymentResource> L
@{
}
<h1>Prepayment</h1>
<p>@L["SamplePageMessage"]</p>
