@page
@inherits EasyAbp.PaymentService.Web.Pages.PaymentServicePage
@model EasyAbp.PaymentService.Web.Pages.PaymentService.IndexModel
@{
}
<h1>PaymentService</h1>
<p>A sample page for the PaymentService module.</p>