@page
@inherits EasyAbp.PaymentService.WeChatPay.Web.Pages.WeChatPayPage
@model EasyAbp.PaymentService.WeChatPay.Web.Pages.PaymentService.WeChatPay.IndexModel
@{
}
<h1>WeChatPay</h1>
<p>A sample page for the WeChatPay module.</p>